vti_encoding:SR|utf8-nl
vti_cachedlinkinfo:VX|S|../CanjeMype/IMAGES/arrowstop.gif S|/images/plus.gif S|images/Tit_Caption10.gif S|../CanjeMype/IMAGES/bgHeaderSmall.gif S|../CanjeMype/IMAGES/bgMarqueeHeaderLarge.gif S|../CanjeMype/IMAGES/bgBodyLarge.gif S|../CanjeMype/IMAGES/bgContentIndex.gif S|../images/Fondo_Boton5.jpg S|../images/Fondo_Fila.jpg S|../images/Fondo_Fila.jpg S|../images/Fondo_Fila.jpg S|../images/fila_selec.gif S|../images/trasparente.gif S|../images/trasparente.gif S|../images/fon_aleta.gif S|../images/fondo_boton_3.gif S|../images/tit_caption16.gif S|../images/tit_caption16.gif S|../images/tit_caption16.gif S|../images/trasparente.gif S|../images/trasparente.gif S|../images/tit_caption9.gif S|../images/tit_caption9.gif S|../images\\\\FS.jpg S|../images/bar.gif S|../images/boton_fondo.jpg S|../images/boton_fondo.jpg S|../images/boton_fondo.jpg S|../images/boton_fondo.jpg S|../images/titcaption01.jpg S|../images/tit_caption9.gif S|../images/tit_caption16.gif S|../images/curva_aleta_izqAncha.jpg
vti_timecreated:TR|13 Aug 2009 16:25:15 -0400
vti_cacheddtm:TX|16 Oct 2009 17:57:35 -0400
vti_timelastmodified:TR|13 Aug 2009 16:25:15 -0400
vti_cachedhasbots:BR|false
vti_filesize:IX|21406
vti_extenderversion:SR|3.0.2.926
vti_backlinkinfo:VX|bop_accept_list.asp bop_accept_apro_list.asp _indice.htm
vti_cachedhasborder:BR|false
vti_author:SR|Administrator
vti_cachedhastheme:BR|false
vti_nexttolasttimemodified:TR|13 Aug 2009 16:25:15 -0400
vti_modifiedby:SR|Administrator
